@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #fafcfd;
    --ff-primary: Inter, "sans-serif";
  }

  body {
    background-color: var(--background-color);
    font-family: var(--ff-primary);
  }

  .cat-label {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background: #fbfafc;
    border: 0.2px solid #1e1e1e;
  }
}
